@import url('https://fonts.googleapis.com/css?family=Kanit:800,900');

* {
  margin: 0px;
}

.app {
  text-align: center;
}

header {
  background-color: rgba(9, 9, 11, 1);
  width: 100%;
}

h1 {
  font-size: 5rem;
}

h1,
.explore {
  color: rgba(255, 232, 31, 1);
  font-family: 'Kanit', sans-serif;
}

.explore {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 232, 31, 1);
  font-size: 2rem;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  top: 200px;
}

.opening {
  margin-left: 30%;
}

.hidden {
  visibility: hidden;
}